<div class="container space" style="">
  <h2 class="">Lecturas</h2>
  <hr>
  <br>
  <div class="row">
    <div class="card-deck">
      <% @articles.each do |article| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to article_path(article) do %>
        <div class="card">
          <img src="<%= cl_image_path article.photo.key%>" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title"><%= article.title%></h5>
            <p class="card-text"><%= article.intro%></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= article.created_at %></small>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
