<%= render 'shared/banner' %>
<br>
<div class="space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6" >
        <h3>APRENDE · COMPARTE ·  DESARROLLA </h3>
        <p style=" text-align: justify; text-justify: inter-word;">Void Camp es un proyecto que fue creado con la iniciativa de compartir conocimiento, pensamientos y habilidades. Nuestra idea se basa en generar contenido educativo que guie el aprendizaje y el emprendimiento en el mundo digital. Queremos servir como un canal de educación alternativa cualquiera que desee aprender pero no sepa como empezar. </p><br>
        <a href="/lessons"> <h1 class="button " >Descrubre</h1></a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="" style="padding-top: 30px;">
          <img src="https://www.freepnglogos.com/uploads/macbook-png/macbook-cleanmymac-the-best-mac-cleanup-app-for-macos-get-32.png" alt="" class="responsive">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container space" style="">
  <h2 class="">Ultimas Lecturas</h2>
  <hr>
  <br>
  <div class="row">
    <div class="card-deck">
      <% @lessons.each do |lesson| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to lesson_path(lesson) do %>
        <div class="card">
          <img src="<%= cl_image_path lesson.photo.key%>" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title"><%= lesson.title%></h5>
            <p class="card-text"><%= lesson.intro%></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= lesson.created_at %></small>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<div class="space">
<div style="padding-top: 100px; padding-bottom: 100px; background-color: black;">
  <div class="container">
    <div class="text-center">
      <hr style="background-color: white;">
      <iframe width="100%" height="570" src="https://www.youtube.com/embed/NGXp6_-nc4s?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <hr style="background-color: white;">
    </div>
  </div>
</div>
</div>
<br>
<br>
<div>
 <div class="container">
  <div class="space" style="">
    <br>
    <h2 class="text-center">Se parte de Void Camp</h2>
    <p class="text-center">Si deseas obtener más información sobre Void Camp Suscríbete a nuestras redes sociales y unete a nuestro canal de slack.</p>
    <div class="text-center">
   <a href="/community"> <button class="buttonv2 ">Unete a nuestra comunidad</button> </a>
    </div>
  </div>
  <br>
</div>
<br>
<br>

