<div class="container" style="padding-top: 150px;">

<h1><%= @subject.title %></h1>
<hr>
<br>
  <% @subject.lessons.each do |lesson| %>
  <%= link_to lesson_path(lesson) do %>
  <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path lesson.photo.key%>')">
    <br>
    <div style=""></div>
    <h1><%= lesson.title%></h1>
    <h6><%= lesson.intro %></h6>
    <br>
  </div>
  <% end %>
  <% end %>
</div>
