<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.7) 50%), url('<%= cl_image_path @lesson.photo.key%>');">
  <div>
    <div class="hidden-xs hidden-sm">
      <h5>VOIDCAMP</h5>
      <p>Presenta:</p>
      <h3><%= @lesson.title %></h3>
      <i class="fa fa-angle-double-down symbols" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 50px;">
  <hr>
  <%= raw @lesson.content %>
  <br>
  <p>Publicado en</p>
  <p> <%= @lesson.created_at %> </p>
  <hr>
   <div class="text-center">
    <h5>Aprende mas con <strong><a href="/articles">VoidCamp</a></strong></h5>
    <%= render 'shared/slack' %>
  </div>
</div>
